@import "./src/theme.scss";

.mat-table {
  width: 100%;
  overflow-x: scroll;
}

mat-expansion-panel {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

button.create {
  position: relative;
  float: right;
  display: inline;
  margin-right: 10%;
  padding-left: 3em;
  padding-right: 3em;
  border-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 500);
}

mat-panel-title {
  width: 90%;
}

.expandSearchButton {
  padding-top: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: flex-end;
}

.tableLayout {
  padding: 5px;
}

.tableHead {
  justify-content: center !important;
}

.mat-expand {
  margin-top: 20px;
}

.missing-result {
  background: #ff9e9e;
}

.provided-result {
  background: #daffd1;
}

.new-result {
  background: #ffe366;
}

td {
  text-align: center;
}

th.mat-header-cell {
  text-align: center !important;
}

mat-expansion-panel-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.pending-audit {
  background-color: #ebebeb;
  color: #878787;
  display: inline-block;
  border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  padding: 10px;
  width: 70px;
  text-align: center;
}

.active-audit {
  background-color: #e3f2fd;
  color: #177fcf;
  display: inline-block;
  border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  padding: 10px;
  width: 70px;
  text-align: center;
}

.complete-audit{
  background-color: #ecf9f3;
  color: #00a646;
  display: inline-block;
  border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  padding: 10px;
  width: 70px;
  text-align: center;
}

mat-panel-description {
  position: absolute;
  right: 30px;
}

.assigned_sks {
  white-space: pre-line;
  padding-top: 20px;
  padding-bottom: 20px;
}

.auditinfo{
  margin-top: 1em;
}

#questionanswericon{
  color: map-get($alta-accent, 600);
  font-size: x-large;
  cursor: pointer;
}

#sendicon{
  color: map-get($alta-accent, 600);
  font-size: x-large;
}

.comment-text {
  background: map-get($alta-accent, 900);
  border: #2aabd2;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  word-wrap: normal;
  color: white;
  word-break: break-all;
}

.comment{
  height: inherit;
  min-width: 20em;
  max-width: 35em;
}

.comment-input {
  width: 90%;
  position: absolute;
  bottom: 0px;
  margin-left: 1em;
}

.comment-history{
  overflow-y: scroll;
  height: 80%;
  position: relative;
}

.comment-button {
  position: absolute;
  right: 20px;
}

.comment-author {
  position: relative;
  margin-left: 1em;
  color: rgba(0, 0, 0, 0.54);
}

.comment-component {
  margin-top: 4em;
  margin-bottom: 4em;
}

.comment-date {
  position: absolute;
  right: 1em;
  color: rgba(0, 0, 0, 0.54);
}

button.cancel {
  margin-right: 5%;
  margin-bottom: 15px;
  padding-left: 3em;
  padding-right: 3em;
  border-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 500);
}

button.export-audit {
  margin-right: 5%;
  margin-bottom: 15px;
  padding-left: 3em;
  padding-right: 3em;
  border-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 500);
}

.top-buttons {
  float: right;
  display: inline-block;
  width: 400px;
}
