@import "./src/theme.scss";

.mat-table {
  width: 100%;
  overflow-x: scroll;
}

mat-expansion-panel {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

button.create {
  position: relative;
  float: right;
  display: inline;
  margin-right: 10%;
  padding-left: 3em;
  padding-right: 3em;
  border-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 500);
}

mat-expansion-panel-header {
  width: 100%;
}

mat-panel-title {
  width: 90%;
}

.expandSearchButton {
  padding-top: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: flex-end;
}

.tableLayout {
  padding: 5px;
}

.tableHead {
  justify-content: center !important;
}

.mat-expand {
  margin-top: 20px;
}

.missing-result {
  background: #ff9e9e;
}

.provided-result {
  background: #daffd1;
}

.new-result {
  background: #ffe366;
}

td {
  text-align: center;
}

th.mat-header-cell {
  text-align: center !important;
}

mat-expansion-panel-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pending-audit {
  background-color: #ebebeb;
  color: #878787;
  display: inline-block;
  border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  padding: 10px;
  width: 70px;
  text-align: center;
}

.active-audit {
  background-color: #e3f2fd;
  color: #177fcf;
  display: inline-block;
  border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  padding: 10px;
  width: 70px;
  text-align: center;
}

.complete-audit{
  background-color: #ecf9f3;
  color: #00a646;
  display: inline-block;
  border-radius: 20%/50%;
  -moz-border-radius: 20%/50%;
  padding: 10px;
  width: 70px;
  text-align: center;
}

mat-panel-description {
  position: absolute;
  right: 30px;

}
