<ion-list>
  <ion-list-header><h5>Progression Metrics</h5></ion-list-header>
  <ion-item id="completedAudit">Completed {{ progressionMetrics?.completed_items }} Item(s)</ion-item>
  <ion-item id="itemLeftAudit">{{ progressionMetrics?.remaining_items }} Item(s) Left</ion-item>
  <ion-item id="completionAudit">Completion: {{ progressionMetrics?.completion_percentage }}%</ion-item>
  <ion-item id="accuracyAudit">Accuracy: {{ progressionMetrics?.accuracy }}%</ion-item>
</ion-list>

<ion-item [hidden]="!errorMessage">
  <ion-text color="danger">{{ errorMessage }}</ion-text>
</ion-item>
