<ion-list [hidden]=!progressionMetrics>
  <ion-list-header><h5>Progression Metrics</h5></ion-list-header>
  <ion-item >Completed {{ progressionMetrics?.completed_items }} Items</ion-item>
  <ion-item >{{ progressionMetrics?.remaining_items }} Items Left</ion-item>
  <ion-item>Completion: {{ progressionMetrics?.completion_percentage }}%</ion-item>
  <ion-item>Accuracy: {{ progressionMetrics?.accuracy }}%</ion-item>
</ion-list>

<ion-item [hidden]="progressionMetrics && !errorMessage">
  <ion-text color="danger">{{ errorMessage }}</ion-text>
</ion-item>