<mat-card>
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

    <div class="centerMe"></div>
    <mat-grid-list cols="2" rowHeight="38:9">
      <mat-grid-tile *ngIf="employee">
        <div class="form-group">
          <mat-label for="power">First Name:</mat-label>
          <mat-form-field appearance="outline">
            <input matInput id="firstname" type="text" [disabled]="!edit" [value]="employee.first_name"
                   [(ngModel)]="employee.first_name"/>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="form-group">
          <mat-label for="username">Employee ID:</mat-label>
          <mat-form-field appearance="outline">
            <input matInput id="user_name" type="number" placeholder=1 [disabled]=true [value]=this.id/>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="employee">
        <div class="form-group">
          <mat-label for="lastname">Last name:</mat-label>
          <mat-form-field appearance="outline">
            <input matInput id="lastname" type="text" placeholder="Last name"
                   [disabled]="!edit" [value]="employee.last_name" [(ngModel)]="employee.last_name"/>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="!isSystemAdmin">
        <div class="form-group">
          <mat-label for="location">Employment Location:</mat-label>
          <mat-form-field appearance="outline">
            <input matInput id="location" type="text" [disabled]="!edit"
                   [(ngModel)]="location" [value]="location"/>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="isLoggedInUser">
        <div class="form-group">
          <mat-label for="pass-word">Password:</mat-label>
          <mat-form-field appearance="outline">
            <input matInput id="pass-word" type="password" placeholder="Password"
                   [(ngModel)]="password" minlength="5" [disabled]="!edit"/>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="employee">
        <div class="form-group">
          <mat-label for="power">E-mail address:</mat-label>
          <mat-form-field appearance="outline">
            <input matInput id="email" type="email" placeholder="E-mail address"
                   [(ngModel)]="employee.email" email [disabled]=true [value]="employee.email"/>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="!isLoggedInUser">
        <div class="form-group">
          <mat-label for="pass-word">Role:</mat-label>
          <mat-form-field appearance="outline">
            <mat-select class="roleDropDown" [(ngModel)]="role" [disabled]=true>
              <mat-option *ngFor="let role of roles" [value]="role.name">
                {{ role.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="!isLoggedInUser">
        <div class="form-group">
          <mat-label for="is-active">Is Active</mat-label>
          <mat-form-field appearance="outline">
            <mat-select class="statusDropDown" id="active" [(ngModel)]="isActive" [disabled]="!edit">
              <mat-option *ngFor="let active of activeStates" [value]="active.state">
                {{active.state}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>

  <!--  Show buttons-->
  <mat-card-actions align="center">

    <!-- Show edit button if not in edit mode -->
    <button *ngIf="!edit" mat-button class="edit" (click)="this.edit=true;" >Edit</button>

    <!-- Show Save and Cancel buttons if in edit mode -->
    <button *ngIf="edit" mat-button class="save" (click)="this.edit=false; this.submit()" >Save</button>
    <button *ngIf="edit" mat-button class="cancel" (click)="this.edit=false; reloadPage();">Cancel</button>

  </mat-card-actions>

</mat-card>
