.main-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile {
  position: fixed;
  z-index: 2;
  flex: 1 0 auto;
}

.sidenav-container {
  flex: 1 0 auto;
}

.side-nav {
  background: #0F2336;
  color: #56657F;
  width: 240px;
}

.main-body {
  width: 95%;
  margin: auto;
}



