<mat-card>
  <mat-card-title>Template title</mat-card-title>
  <br>

    <div class="form-group">
      <mat-form-field appearance="outline" class="half-width">
        <input class="form-control" id="title" type="text" matInput [(ngModel)]="title" placeholder="Template title"/>

      </mat-form-field>
      <mat-error class="error">
        {{errorMessage}}
      </mat-error>
    </div>

    <mat-divider></mat-divider>

    <br>
    <mat-card-content>

      <div class="row">
        <div class="column">

          <!-- LEFT SIDE -->

          <div class="form-group">
            <mat-label>Location</mat-label>
            <mat-form-field appearance="outline">
              <input class="form-control" id="location" type="text" matInput [(ngModel)]="templateValues.location"
                     placeholder="Location"/>
              <button mat-icon-button matSuffix (click)="addItem('location', templateValues.location)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label>Plant</mat-label>
            <mat-form-field appearance="outline">
              <input class="form-control" id="plant" type="text" matInput [(ngModel)]="templateValues.plant"
                     placeholder="Plant"/>
              <button mat-icon-button matSuffix (click)="addItem('plant', templateValues.plant)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label>Zones</mat-label>
            <mat-form-field appearance="outline">
              <input class="form-control" id="zones" type="text" matInput [(ngModel)]="templateValues.zones"
                     placeholder="Zones"/>
              <button mat-icon-button matSuffix (click)="addItem('zones', templateValues.zones)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label>Aisles</mat-label>
            <mat-form-field appearance="outline">
              <input class="form-control" id="aisles" type="text" matInput [(ngModel)]="templateValues.aisles"
                     placeholder="Aisles"/>
              <button mat-icon-button matSuffix (click)="addItem('aisles', templateValues.aisles)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label>Bins</mat-label>
            <mat-form-field appearance="outline">
              <input class="form-control" id="bins" type="text" matInput [(ngModel)]="templateValues.bins"
                     placeholder="Bins"/>
              <button mat-icon-button matSuffix (click)="addItem('bins', templateValues.bins)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label>Part Number</mat-label>
            <mat-form-field appearance="outline">
              <input class="form-control" id="part_number" type="text" matInput [(ngModel)]="templateValues.part_number"
                     placeholder="Part Number"/>
              <button mat-icon-button matSuffix (click)="addItem('part_number', templateValues.part_number)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-label>Serial Number</mat-label>
            <mat-form-field appearance="outline">
              <input class="form-control" id="serial_number" type="text" matInput
                     [(ngModel)]="templateValues.serial_number" placeholder="Serial Number"/>
              <button mat-icon-button matSuffix
                      (click)="addItem('serial_number', templateValues.serial_number)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <!-- RIGHT SIDE -->

        <div class="column no-border">
          <mat-card-title>Selected Fields</mat-card-title>
          <mat-chip-list aria-label="Location">
            <div *ngFor="let loc of template | keyvalue">
              <mat-chip *ngFor="let value of loc.value"
                        [removable]="true" (removed)="remove(loc.key, value)">
                {{loc.key | titlecase}}: {{value}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </div>
          </mat-chip-list>
        </div>

        <br>
        <mat-form-field appearance="outline">
          <textarea rows="5" id="description" matInput [(ngModel)]="description"
                    placeholder="Description"></textarea>
        </mat-form-field>
      </div>

    </mat-card-content>
  <mat-card-footer>
    <div class="center-aligned">
      <div class="button-side-by-side">
        <button mat-stroked-button id="create-template-button" class="save-button-bg" (click)="submit()">
          {{templateButtonLabel}}</button><!-- if checks throws error then do not send data -->
      </div>
      <div class="button-side-by-side">
        <button mat-stroked-button routerLink="/template">CANCEL</button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
