<mat-card>
  <mat-card-title>Template title</mat-card-title>
  <br>

  <form [formGroup]="templateForm" novalidate (ngSubmit)="createTemplate()">

    <div fxLayout="row" fxLayoutGap="25px">
      <div fxFlex="50">
        <div class="form-group ">
          <mat-form-field appearance="outline">
            <input class="form-control" id="title" type="text" matInput placeholder="Template title"/>
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-divider></mat-divider>

    <br>
    <mat-card-content>

      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center"
           fxLayoutGap="25px">

        <!-- CENTER PORTION LEFT SIDE -->
        <div fxFlex="50%">
          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
              <div class="form-group">
                <mat-label>Location</mat-label>
                <mat-form-field appearance="outline">
                  <input class="form-control" id="location" type="text" matInput placeholder="Location"/>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
              <div class="form-group">
                <mat-label>Plant</mat-label>
                <mat-form-field appearance="outline">
                  <input class="form-control" id="plant" type="text" matInput placeholder="Plant"/>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
              <div class="form-group">
                <mat-label>Zones</mat-label>
                <mat-form-field appearance="outline">
                  <input class="form-control" id="zones" type="text" matInput placeholder="Zones"/>
                  <mat-error class="error" *ngIf="
                  !templateForm.controls['zones'].valid &&
                  templateForm.controls['zones'].touched
                ">
                    <!-- Handeling error -->
                    Comma Separated Strings Only (e.g., A,C,Z)
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
              <div class="form-group">
                <mat-label>Aisles</mat-label>
                <mat-form-field appearance="outline">
                  <input class="form-control" id="aisles" type="text" matInput placeholder="Aisles"/>
                  <mat-error class="error" *ngIf="
                  !templateForm.controls['aisles'].valid &&
                  templateForm.controls['aisles'].touched
                ">
                    <!-- Handeling error -->
                    Comma Separated Integers Only (e.g., 1,4,11)
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
              <div class="form-group">
                <mat-label>Bins</mat-label>
                <mat-form-field appearance="outline">
                  <input class="form-control" id="bins" type="text" matInput placeholder="Bins"/>
                  <mat-error class="error" *ngIf="
                  !templateForm.controls['bins'].valid &&
                  templateForm.controls['bins'].touched
                ">
                    <!-- Handeling error -->
                    Comma Separated Integers Only (e.g., 1,4,11)
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
              <div class="form-group">
                <mat-label>Part Number</mat-label>
                <mat-form-field appearance="outline">
                  <input class="form-control" id="part_number" type="text" matInput placeholder="Part Number"/>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="100">
              <div class="form-group">
                <mat-label>Serial Number</mat-label>
                <mat-form-field appearance="outline">
                  <input class="form-control" id="serial_number" type="text" matInput placeholder="Serial Number"/>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- CENTER PORTION RIGHT SIDE -->
        <div fxFlex="50%">
          <div fxLayout="row" fxLayoutGap="25fx" fxLayoutAlign="center">
            <mat-card-title>Selected Field</mat-card-title>
          </div>

          <div fxLayout="row" fxLayoutGap="25px">
            <div fxFlex="85">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <input class="form-control" id="serial_number_del" type="text" matInput
                         placeholder="Some Random field"/>
                </mat-form-field>
              </div>
            </div>
            <div fxFlex="5">
              <div class="form-group icon-padding">
                <button mat-icon-button>
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="25px">
        <div fxFlex="100">
          <div class="form-group">
            <br>
            <mat-label>Description</mat-label>
            <mat-form-field appearance="outline">
              <textarea rows="5" class="form-control" id="description" matInput placeholder="Description"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <br>
      <mat-card-title>Scheduling</mat-card-title>
      <br>

      <div fxLayout="row" fxLayoutGap="25px">
        <div fxFlex="44">
          <div class="form-group">
            <mat-label>Start Date</mat-label>
            <mat-form-field appearance="outline">
              <input matInput [matDatepicker]="datePick" [min]="todaysDate" disabled class="form-control" id="date" type="text" placeholder="DD/MM/YYYY">
              <mat-datepicker-toggle [for]="datePick" matSuffix class="icon-color"></mat-datepicker-toggle>
              <mat-datepicker #datePick disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="25px">
        <div fxFlex="44">
          <div class="form-group">
            <mat-label>Start time</mat-label>
            <mat-form-field appearance="outline">
              <mat-icon class="icon-color" matSuffix>schedule</mat-icon>
              <input class="form-control" id="time" type="time" matInput placeholder="Start time"/>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="25px">
        <div fxFlex="44">
          <div class="form-group">
            <mat-label>Recurrence</mat-label>
            <mat-form-field floatLabel="never" appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="25px">
        <div fxFlex="44">
          <div class="form-group">
            <mat-label>Time zone</mat-label>
            <mat-form-field floatLabel="never" appearance="outline">
              <mat-label>Choose</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="center">
        <div fxFlex="15">
          <!-- [disabled]="!templateForm.valid" -->
          <button mat-stroked-button id="create-template-button" class="save-button-bg">
            {{templateButtonLabel}}</button><!-- if checks throws error then do not send data -->
        </div>
        <div fxFlex="15">
          <button mat-stroked-button routerLink="/template">CANCEL</button>
        </div>
      </div>
      <br>
    </mat-card-content>
  </form>
</mat-card>
