<ion-content class="loginGroup">
  <div class="header">
    <img id="alta_logo" class="pic" src="assets/img/logo.svg" width="340" height="210">
  </div>

  <div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="login()" (keyup.enter)="login()">

      <ion-item>
        <ion-label position="floating" color="primary">Pin</ion-label>
        <ion-input id="passwordInput" formControlName="pin" type="password" color="light" required></ion-input>
      </ion-item>

      <ion-button id="loginButton" type="submit" expand="block" size="large" [disabled]="!formGroup.valid">Sign in</ion-button>
    </form>
  </div>
</ion-content>