<mat-card>
  <mat-card-header>
    <mat-card-title>
      Organization Settings
    </mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <div class="container">
    <div class="subtitle">
      <mat-card-header>
        <mat-card-subtitle>
          Inventory Extractions
        </mat-card-subtitle>
      </mat-card-header>
    </div>

    <form class="col s12" [formGroup]="orgSettingsForm" novalidate (ngSubmit)="refreshTime()">
      <div class="form-settings">

<!--      REPEAT TIME-->
          <div class="flex-container" fxLayout="row" fxLayoutAlign="none none">
            <mat-form-field appearance="outline">
              <mat-label>Repeat Every</mat-label>
              <input matInput id="time" type="number" required formControlName="time" placeholder="Time unit"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Interval</mat-label>
              <mat-select matNativeControl required formControlName="interval">
                <mat-option value="minutes">Minutes</mat-option>
                <mat-option value="hours">Hours</mat-option>
                <mat-option value="days">Days</mat-option>
                <mat-option value="weeks">Weeks</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
<!--      FTP LOCATION-->
      <div class="flex-container" fxLayout="row" fxLayoutAlign="start none">

        <mat-form-field appearance="outline">
          <mat-label>FTP File Location</mat-label>
          <input matInput id="ftpLocation" required formControlName="ftpLocation" placeholder="ftp://example/invetory1">
        </mat-form-field>
      </div>
<!--      XLSX FILE INPUT-->
      <div class="flex-container" fxLayout="row" fxLayoutAlign="start-evenly none">
          <input #csvInput hidden="true" formControlName="inv_extract_file" type="file" (change)="selectFile($event)" accept=".xlsx"/>
          <button mat-stroked-button type="button" color="primary" (click)="csvInput.click()" >{{getFileName()}}</button>
      </div>
<!--      SUBMIT BUTTON-->
      <div class="flex-container-submit" fxLayout="row" fxLayoutAlign="space-evenly space-evenly">
        <button mat-stroked-button type="submit" id="signupbtn" [disabled]="!orgSettingsForm.valid" (click)="openSnackBar('Submitted' , 'Close')" class="save">
          Submit
        </button>
      </div>
      </div>
    </form>


  </div>

</mat-card>
