<app-toolbar></app-toolbar>
<div *ngIf="isScanning" id="scanInfoHeader">
  <ion-item color="primary">Scanning...</ion-item>
  <ion-progress-bar type='indeterminate'></ion-progress-bar>
</div>

<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="currentSegment" value="items">
  <ion-segment-button value="items">
    <ion-label>Items</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completedItems">
    <ion-label>Completed Items</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>

  <div [hidden]="currentSegment!=Segment.ITEMS">
    <div *ngIf="!items || items?.length == 0" class="center">
      <ion-text color="dark">
        {{ itemsBlankMessage }}
      </ion-text>
    </div>
    <ion-list>
      <ion-item button *ngFor="let item of items" onclick="this.blur()" (click)="handleItemClick(item._id)">
        <ion-label>
          <p> Item: {{ item._id }}</p>
          <p> Description: {{ item.Part_Description }}</p>
        </ion-label>
        <ion-icon name="information-circle" slot="end"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <div [hidden]="currentSegment!=Segment.COMPLETED_ITEMS">
    <div *ngIf="!completedItems || completedItems?.length == 0" class="center">
      <ion-text color="dark">
        {{ completedItemsBlankMessage }}
      </ion-text>
    </div>
    <ion-list>
      <ion-item *ngFor="let item of completedItems" onclick="this.blur()">

        <ion-label>
          <p> Item: {{ item.item_id }}</p>
          <p> Status: {{ item.status }}</p>
        </ion-label>
        <ion-button id="optionsButton" (click)="presentCompltedItemActionSheet(item.record_id)">
          <ion-icon color="light" name="hammer-outline"></ion-icon>
        </ion-button>

      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-button fill="outline" onclick="this.blur()" (click)="handleCameraScan()">
  <ion-icon name="scan"></ion-icon>Scan Barcode With Camera<ion-icon name="scan"></ion-icon>
</ion-button>

<ion-button fill="outline" color="danger" onclick="this.blur()" (click)="handleManualInput()">
  <ion-icon name="create-outline"></ion-icon>Input Barcode Manually<ion-icon name="create-outline"></ion-icon>
</ion-button>