<app-toolbar></app-toolbar>
<div *ngIf="isScanning" id="scanInfoHeader">
  <ion-item color="primary">Scanning...</ion-item>
  <ion-progress-bar type='indeterminate'></ion-progress-bar>
</div>

<ion-segment (ionChange)="segmentChanged($event)" value="items">
  <ion-segment-button value="items">
    <ion-label>Items</ion-label>
  </ion-segment-button>
  <ion-segment-button value="completedItems">
    <ion-label>Completed Items</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-spinner *ngIf="!items" name="crescent" class="center"></ion-spinner>
  <ion-list [hidden]="currentSegment!='items'">
    <ion-item button *ngFor="let item of items" onclick="this.blur()" (click)="handleItemClick(item._id)">
      <ion-label>
        <p> Item: {{ item._id }}</p>
        <p> Description: {{ item.Part_Description }}</p>
      </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list [hidden]="currentSegment!='completedItems'">
    <ion-item button *ngFor="let item of completedItems" onclick="this.blur()" (click)="handleItemClick(item.item_id)">
      <ion-label>
        <p> Item: {{ item.item_id }}</p>
        <p> Description: {{ item.Part_Description }}</p>
        <p> Submitted On: {{ item.last_verified_on }}</p>
      </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

<ion-button fill="outline" onclick="this.blur()" (click)="handleCameraScan()">
  <ion-icon name="scan"></ion-icon>Scan Barcode With Camera<ion-icon name="scan"></ion-icon>
</ion-button>

<ion-button fill="outline" color="danger" onclick="this.blur()" (click)="handleManualInput()">
  <ion-icon name="create-outline"></ion-icon>Input Barcode Manually<ion-icon name="create-outline"></ion-icon>
</ion-button>