<ion-toolbar color="primary">
  <ion-buttons slot="end">
    <ion-button (click)="isItemDetailsHidden=!isItemDetailsHidden">
      <ion-icon name="eye-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Item</ion-title>
</ion-toolbar>

<ion-content>
  <div class="form-container">
    <form id="scannedItemForm" [formGroup]="formGroup" (ngSubmit)="validate()">
      <ion-item>
        <ion-label position="floating" color="primary">id</ion-label>
        <ion-input id="IdInput" type="text" formControlName="item_id" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Location</ion-label>
        <ion-input id="LocationInput" type="text" formControlName="Location" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Plant</ion-label>
        <ion-input id="PlantInput" formControlName="Plant" required></ion-input>
      </ion-item>
      <div [hidden]="isItemDetailsHidden">

        <ion-item>
          <ion-label position="floating" color="primary">Zone</ion-label>
          <ion-input id="ZoneInput" formControlName="Zone" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Aisle</ion-label>
          <ion-input id="AisleInput" formControlName="Aisle" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Bin</ion-label>
          <ion-input id="BinInput" formControlName="Bin" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Part Number</ion-label>
          <ion-input id="PartNumberInput" formControlName="Part_Number" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Part Description</ion-label>
          <ion-input id="PartDescriptionInput" formControlName="Part_Description" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Serial Number</ion-label>
          <ion-input id="SerialNumberInput" formControlName="Serial_Number" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Condition</ion-label>
          <ion-input id="ConditionInput" formControlName="Condition" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Category</ion-label>
          <ion-input id="CategoryInput" formControlName="Category" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Owner</ion-label>
          <ion-input id="OwnerInput" formControlName="Owner" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Criticality</ion-label>
          <ion-input id="CriticalityInput" formControlName="Criticality" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Average Cost</ion-label>
          <ion-input id="AverageCostInput" formControlName="Average_Cost" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Quantity</ion-label>
          <ion-input id="QuantityInput" formControlName="Quantity" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating" color="primary">Unit Of Measure</ion-label>
          <ion-input id="UnitofMeasureInput" formControlName="Unit_of_Measure" required>
          </ion-input>
        </ion-item>

      </div>
      <ion-item>
        <ion-label position="floating" color="primary">Comment</ion-label>
        <ion-textarea formControlName="comment" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>

      <ion-list>
        <ion-radio-group formControlName="status">
          <ion-list-header>
            <ion-label color="primary">Status</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Provided</ion-label>
            <ion-radio slot="start"  value="Provided"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>New</ion-label>
            <ion-radio slot="start" value="New"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Missing</ion-label>
            <ion-radio slot="start" value="Missing"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

    </form>
  </div>
</ion-content>

<button id="validateButton" form="scannedItemForm" type="submit" [disabled]="!formGroup.valid" expand="block"
  size="large">Submit
</button>