<ion-content>
  <div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="validate()">
      <ion-button id="validateButton" type="submit" expand="block" size="large">Validate
      </ion-button>

      <ion-item>
        <ion-label position="floating" color="primary">id</ion-label>
        <ion-input id="idInput" type="text" formControlName="id" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Location</ion-label>
        <ion-input id="locationInput" type="text" formControlName="Location" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Plant</ion-label>
        <ion-input id="idInput" formControlName="Plant" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Zone</ion-label>
        <ion-input id="locationInput" formControlName="Zone" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Aisle</ion-label>
        <ion-input id="idInput" formControlName="id" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Bin</ion-label>
        <ion-input id="locationInput" formControlName="Bin" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Part Number</ion-label>
        <ion-input id="idInput" formControlName="PartNumber" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Part Description</ion-label>
        <ion-input id="locationInput" formControlName="PartDescription" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Serial Number</ion-label>
        <ion-input id="idInput" formControlName="SerialNumber" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Condition</ion-label>
        <ion-input id="locationInput" formControlName="Condition" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Category</ion-label>
        <ion-input id="idInput" formControlName="Category" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Owner</ion-label>
        <ion-input id="locationInput" formControlName="Owner" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Criticality</ion-label>
        <ion-input id="idInput" formControlName="Criticality" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Average Cost</ion-label>
        <ion-input id="locationInput" formControlName="AverageCost" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Quantity</ion-label>
        <ion-input id="idInput" formControlName="Quantity" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" color="primary">Unit Of Measure</ion-label>
        <ion-input id="locationInput" formControlName="UnitOfMeasure" required>
        </ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>