<mat-card>
  <button mat-stroked-button id="create" class="create" (click)="openCreateDialog()">Add</button>
  <mat-card-title>Organizations</mat-card-title>
  <div class="example-button-container">
    <button mat-icon-button disabled aria-label="Example icon button with a home icon">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div class="search-header">
    <mat-form-field appearance="fill">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Organizations">
    </mat-form-field>
  </div>
  <mat-label class="moveMeRight">Show:</mat-label>
  <div class="dropdown">
    <mat-form-field appearance="standard">
      <mat-select [(value)]="selected" aria-selected="true">
        <mat-option value="All">All</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row"> pic</td>
      </ng-container>

      <ng-container matColumnDef="Company_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company name</th>
        <td class="cell_org_name" classmat-cell *matCellDef="let row"> {{row.org_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Activated_On">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Activated On</th>
        <td mat-cell *matCellDef="let row"> Active</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td class="cell_org_status" mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address</th>
        <td class="cell_org_address" mat-cell *matCellDef="let row">{{row.address}}</td>
      </ng-container>

      <ng-container matColumnDef="2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row" [matMenuTriggerFor]="menu" (click)="preventPropagation($event)">
          <mat-menu #menu="matMenu">
            <button class="org_mat_menu_item_update" mat-menu-item (click)="openUpdateOrgDialog(row)">
              <span>Update</span>
            </button>
          </mat-menu>
          <div class="example-button-container">
            <button mat-icon-button mat-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="turnOnOrgMode(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</mat-card>

<ng-template #updateOrgDialog>
  <form #updateOrgForm="ngForm" (ngSubmit)="onSubmitUpdateOrg(updateOrgForm)">
    <h2 matDialogTitle>Update Organization</h2>
    <mat-label>Organization Name:</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Organization Name" name="name"
             ngModel="{{selectedOrganization.org_name}}" required>
    </mat-form-field>

    <mat-label>Address:</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Address" name="address"
             ngModel="{{selectedOrganization.address}}" required>
    </mat-form-field>

    <mat-label>Status:</mat-label>
    <mat-form-field appearance="outline">
      <mat-select class="statusDropDown" id="active" name="status" [(ngModel)]="isActive">
        <mat-option *ngFor="let active of activeStates" [value]="active.status">
          {{active.status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button matDialogClose="cancel">Cancel</button>
      <button type="submit" mat-button>Submit</button>
    </mat-dialog-actions>
  </form>
</ng-template>


<ng-template #createOrgDialog>
  <form #createOrgForm="ngForm" (ngSubmit)="onSubmitCreateOrg(createOrgForm)">
    <h2 matDialogTitle>Create Organization</h2>
    <mat-label>Organization Name:</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Organization Name" name="name"
             ngModel required>
    </mat-form-field>

    <mat-label>Address:</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Address" name="address"
             ngModel required>
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button matDialogClose="cancel">Cancel</button>
      <button type="submit" mat-button>Submit</button>
    </mat-dialog-actions>
  </form>
</ng-template>
