@import "./src/theme.scss";

.mat-table {
  width: 100%;
}

.mat-expand {
  margin-bottom: 20px;
}

#table-div {
  margin-bottom:60px;
}

.mat-card-title {
  padding: 0.7em;
}

.mat-column {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  justify-content:center;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.bottom-buttons {
  position: absolute;
  right: 1.5%;
  margin-top:30px;
}

#top-div {
 height: 0px;
 text-align: end;
}

.location-title {
  padding-bottom:2px;
}

.top-buttons {
  position: relative;
  top: -50px;
  margin-right: 0.8em;
  padding-left: 3em;
  padding-right: 3em;
  background: white;
  color: #2196F3;
  border: 1px solid #2196F3 !important;
}

button.bottom-discard {
  position: absolute;
  left: -290px;
  margin-right: 0.5%;
  padding-left: 3em;
  padding-right: 3em;
  background: white;
  color: #2196F3;
  border: 1px solid #2196F3 !important;
}

button.bottom-assign {
  position: absolute;
  right: 0;
  margin-right: 1.2em;
  padding-left: 3em;
  padding-right: 3em;
  background: white;
  color: #2196F3;
  border: 1px solid #2196F3 !important;
}

button.bottom-confirm {
  position: absolute;
  right: 0;
  margin-right: 1.2em;
  padding-left: 3em;
  padding-right: 3em;
  background: white;
  color: #2196F3;
  border: 1px solid #2196F3 !important;
}

.mat-card-header {
  position: inline;
  left: 0;
  margin-left: -11px;
  display:flex;
  justify-content:space-around;
}

.drag-drop-containers {
  width: 100%;
  display:flex;
  justify-content: space-around;
  box-sizing: border-box;
  vertical-align: top;
  text-align: justify;
  font-size: 30px;
  color: black;
}

.drag-drop-list {
  flex-direction: row;
  border: solid 1px rgb(236, 236, 236);
  min-height: 60px;
  background: rgb(236, 236, 236);
  border-radius: 4px;
  width: 400px;
}

.drag-drop-box {
  background-color: white;
  border: solid 1px #2196F3 !important;
  cursor: move;
  box-sizing: border-box;
  flex-grow: 1;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 90%;
  padding: 20px 10px;
  text-align: center;
  font-size: 18px;
  color: rgb(33, 150, 243);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-box:last-child {
  border: none;
}

.drag-drop-list.cdk-drop-list-dragging .drag-drop-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-drop-subtext {
  font-size: 15px;
  color: grey;
  padding-top: 3px;
  display: inline-block;
}

.item-list {
  list-style-position: inside;
  text-align: center;
  margin-right: 35px;
}