<mat-card>
  <mat-card-title>Review Audit</mat-card-title>
  <div id="top-div">
    <button mat-button class="top-buttons" (click)="allExpandState=true">Expand All </button>
    <button mat-button class="top-buttons" (click)="allExpandState=false">Collapse All </button>
  </div>
</mat-card>
<br>

<mat-expansion-panel *ngFor="let item of locationsAndUsers;" class="mat-expand" [expanded]="allExpandState">
  <mat-expansion-panel-header>
    <mat-card-header>
      <mat-card-title class="location-title">{{item.location}}</mat-card-title>
    </mat-card-header>
  </mat-expansion-panel-header>

  <table mat-table aria-labelledby="review_sks" [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="stockkeeper">
      <th id="header_sk_name" mat-header-cell *matHeaderCellDef>Stock Keeper</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="bins">
      <th id="header_bin" mat-header-cell *matHeaderCellDef>Bins</th>
      <td mat-cell *matCellDef="let row">{{ row.bins }}</td>
    </ng-container>


    <ng-container matColumnDef="numberparts">
      <th id="header_number_of_parts" mat-header-cell *matHeaderCellDef>Number of Parts</th>
      <td mat-cell *matCellDef="let row">{{ row.numberOfParts }}</td>
    </ng-container>

    <ng-container matColumnDef="initiator">
      <th id="header_initiated_by" mat-header-cell *matHeaderCellDef>Initiated by</th>
      <td mat-cell *matCellDef="let row">{{ row.initiatedBy }}</td>
    </ng-container>

    <ng-container matColumnDef="initiationdate">
      <th id="header_initiated_on" mat-header-cell *matHeaderCellDef>Initiated on</th>
      <td mat-cell *matCellDef="let row">{{ row.date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="item.location !== row.location"></tr>
  </table>

</mat-expansion-panel>

<div class="bottom-buttons">
  <button mat-stroked-button id="goback" class="bottom-goback" (click)="goBackDesignateSK()">Go Back</button>
  <button mat-stroked-button id="discard" class="bottom-discard"
    (click)="openDialogWithRef(discardDialog)">Discard</button>
  <button mat-stroked-button id="confirm" class="bottom-confirm" (click)="confirmReviewAuditData()">Confirm</button>
</div>

<ng-template #discardDialog>
  <h2 matDialogTitle>Discard Audit</h2>
  <h3 matDialogContent>Are you sure you wish to discard audit initiation?</h3>
  <div mat-dialog-actions align="end">
    <button mat-button routerLink="/audits" (click)="discardAudit()">Discard</button>
    <button mat-button (click)="cancelDialog()">Cancel</button>
  </div>
</ng-template>