@import "./src/theme.scss";

.login-card {
  margin: 30px 25% 30% 25%;
  padding-top: 2%;
  width: 290px;
  max-height: 600px;
  text-align: center;
  background-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 100);
}

.forget-pass {
  background-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 100);
}

.forgot-credentials {
  color: map-get($alta-primary, 100);
  text-decoration: underline;
  cursor: pointer;
}

.dabuttons {
  border: 2px solid map-get($alta-primary, A100) !important;
  color: map-get($alta-primary, A100);
}

.error {
  color: red;
}

.success {
  //color: black;
  padding: 10px;
  background: #2cd171;
  margin: 15px;
}

.missing {
  padding: 20px 10px;
  //background: red;
  border: red solid;
  //color: white;
  margin: 15px;
}

#errorMsg {
  background: #f6b2b5;
  width: 100%;
  min-height: 40px;
  max-height: 100px;
  text-align: center;
}

#successMsg {
  background: #a9f69b;
  width: 100%;
  height: 40px;
  text-align: center;
}

mat-label {
  color: map-get($alta-primary, 200);
}

.mat-form-field {
  width: 90%;
}

button {
  margin: 5%;
}
