<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <div id="errorMsg" *ngIf="errorMessage">
      <mat-card-subtitle>{{ errorMessage }}</mat-card-subtitle>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form
      class="col s12"
      [formGroup]="loginForm"
      novalidate
      (ngSubmit)="loginUser()"
    >
      <div class="row">
        <div class="input-field col s12">
          <input id="user-name" type="text" formControlName="username" />
          <label for="user-name">Username</label>
          <span
            class="error"
            *ngIf="
              !loginForm.controls['username'].valid &&
              loginForm.controls['username'].touched
            "
            ><!-- Handeling error -->
            Username is required
          </span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" formControlName="password" />
          <label for="password">Password</label>
          <span
            class="error"
            *ngIf="
              !loginForm.controls['password'].valid &&
              loginForm.controls['password'].touched
            "
            ><!-- Handeling error -->
            Password is required
          </span>
        </div>
      </div>
      <button mat-button id="loginbtn" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
