<div style="padding: 0 70px;">
  <div style="width: 350px; text-align: center">
    <h2 mat-dialog-title>Forgot Password?</h2>

    <div style="padding-bottom: 10px;">
      Enter your e-mail address you registered with and we'll send you a link to recover your password
    </div>


    <form class="col s12" [formGroup]="resetPasswordForm" novalidate (ngSubmit)="resetPassword()">
      <mat-form-field appearance="outline" class="input">
        <mat-label for="email">E-mail address</mat-label>
        <input matInput id="emailAddress" type="text" formControlName="email"/>

        <mat-error class="error" *ngIf="
            resetPasswordForm.controls['email'].errors?.required &&
            resetPasswordForm.controls['email'].touched
            ">
          <!-- Handeling error -->
          Email is required
        </mat-error>

        <mat-error class="error" *ngIf="
            resetPasswordForm.controls['email'].errors?.email &&
              !resetPasswordForm.controls['email'].errors?.required &&
              resetPasswordForm.controls['email'].touched
            ">
          <!-- Handeling error -->
          Email format is not valid
        </mat-error>

      </mat-form-field>

      <div class="success" *ngIf="success">
        Successfully sent e-mail!
      </div>
      <div class="missing" *ngIf="emailNoExist && !success">
        E-mail doesn't exist in our database
      </div>
      <div class="missing" *ngIf="!success && unauthorized">
        You do not have access to reset your password through this interface
      </div>

      <button mat-stroked-button id="submitButton" class="dabuttons" [disabled]="!resetPasswordForm.valid" *ngIf="!success">
        SUBMIT
      </button>
      <button type="button" mat-stroked-button id="closeButton" class="dabuttons" (click)="closeDialog()">
        {{success? 'CLOSE' : 'CANCEL'}}
      </button>
      <br/>
    </form>
  </div>
</div>
