[run]
omit = django_server/*
       */venv/*
       */usr/lib/*
       */usr/local/lib/*
       manage.py

[report]
omit = django_server/*
       */venv/*
       */usr/lib/*
       */usr/local/lib/*
       manage.py