[MASTER]
ignore=manage.py, test_settings.py, tests.py
ignore-patterns=\d{4}_.*?.py # migration files
load-plugins=pylint_django
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
[DESIGN]
max-parents=15
