<mat-card>
  <mat-card-header>
    <mat-card-title>{{isLoggedInUser? "Profile" : "Employee"}} Settings</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
    <mat-card-content>
      <button mat-stroked-button id="signupbtn" (click)="editMode(!edit)" class="save">
        {{edit ? "Save": "Edit"}}</button><!-- if checks throws error then do not send data -->
      <div class="centerMe">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="Blank Display Pic" width="100" height="100" />
      </div>
      <mat-grid-list cols="2" rowHeight="38:9">
        <mat-grid-tile *ngIf="employee">
          <div class="form-group">
            <mat-label for="power">First Name:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput id="firstname" type="text" [disabled]=true [value]="employee.first_name"/>
            </mat-form-field>
          </div>

        </mat-grid-tile>
        <mat-grid-tile *ngIf="employee">
          <div class="form-group">
            <mat-label for="power">E-mail address:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput id="email" type="email" placeholder="E-mail address"
                     [(ngModel)]="employee.email" email [disabled]="!edit"/>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="employee">
          <div class="form-group">
            <mat-label for="lastname">Last name:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput id="lastname" type="text" placeholder="Last name"
                     [disabled]=true [value]="employee.last_name"/>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="form-group">
            <mat-label for="username">Employee ID:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput id="user_name" type="text" placeholder="Employee ID" [disabled]="!edit"/>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="isLoggedInUser">
          <div class="form-group">
            <mat-label for="pass-word">Password:</mat-label>
            <mat-form-field appearance="outline">
              <input matInput id="pass-word" type="password" placeholder="Password"
                     [(ngModel)]="password" minlength="5" [disabled]="!edit"/>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!isLoggedInUser">
          <div class="form-group">
            <mat-label for="pass-word">Role:</mat-label>
            <mat-form-field appearance="outline">
              <mat-select class="roleDropDown" [(ngModel)]="role" [disabled]="!edit">
                <mat-option *ngFor="let role of roles" [value]="role.name">
                  {{ role.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
        <mat-grid-tile *ngIf="!isLoggedInUser">
          <div class="form-group">
            <mat-label for="is-active">Is Active</mat-label>
            <mat-form-field appearance="outline">
              <mat-select class="statusDropDown" id="active" [(ngModel)]="isActive" [disabled]="!edit">
                <mat-option *ngFor="let active of activeStates" [value]="active.state">
                  {{active.state}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
</mat-card>
