<div class="edit-container">
  <button mat-button (click)="editMode(!edit)">{{edit ? "Cancel": "Edit"}}</button>

  <div *ngIf="employee">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{edit? "Update": ""}} {{employee?.first_name + " " + employee?.last_name}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>

          <mat-form-field>
            <mat-label for="First Name"></mat-label>
            <input matInput id="first_name" type="text" [disabled]="!isLoggedInUser"  [value]="employee.first_name"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="Last Name"></mat-label>
            <input matInput id="last_name" type="text" [disabled]="!isLoggedInUser" [value]="employee.last_name"/>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="email">Email</mat-label>
            <input matInput id="email" type="text" [(ngModel)]="employee.email" email [disabled]="!edit"/>
          </mat-form-field>

          <mat-form-field *ngIf="!isLoggedInUser">
            <mat-label for="active">Active</mat-label>
            <mat-select id="active" [(ngModel)]="isActive" [disabled]="!edit">
              <mat-option *ngFor="let active of activeStates" [value]="active.state">
                {{active.state}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="!isLoggedInUser">
            <mat-label for="role">Role</mat-label>
            <mat-select id="role2" [(ngModel)]="role" [disabled]="!edit">
              <mat-option *ngFor="let role of roles" [value]=role.name>
                {{role.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <button mat-button (click)="submit()">Submit</button>

      </mat-card-content>
    </mat-card>

  </div>
</div>

<div class="edit-container" *ngIf="isLoggedInUser">

  <div *ngIf="employee">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{edit? "Update": ""}} Password
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>


          <mat-form-field>
            <mat-label for="password">Password</mat-label>
            <input matInput id="password" type="password" [(ngModel)]="password" minlength="5" [disabled]="!edit"/>
          </mat-form-field>


        <button mat-button (click)="submitPassword()">Submit</button>

      </mat-card-content>
    </mat-card>

  </div>
</div>

