<mat-card>
  <mat-card-title class="title-padding">{{organizationTitle}}</mat-card-title>
  <mat-divider> </mat-divider>

  <div class="grid-container">
    <div class="vertical-stack">
      <mat-error *ngIf="orgError">
        {{orgError}}
      </mat-error>
      <mat-label>Name:</mat-label>
      <mat-form-field appearance="outline" class="text-input">
        <input matInput placeholder="Organization Name" [(ngModel)]="orgName" [disabled]="isEdit && !editOn" id="EditOrgName"/>
      </mat-form-field>
    </div>
    <div>
      <div *ngIf="!isEdit" class="vertical-stack"></div>
      <div *ngIf="isEdit" class="vertical-stack">
        <mat-label>Status</mat-label>
        <mat-form-field appearance="outline" class="text-input">
          <mat-select class="statusDropDown" id="active" [(value)]="isActive" [disabled]="isEdit && !editOn" id="orgStatusDropDown">
            <mat-option *ngFor="let active of activeStates" [value]="active" [id]="active">
              {{active}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="take-two-columns">
<!--      TODO: For 3.8 display old csv file -->
      <div class="vertical-stack">
        <mat-label>Location:</mat-label>
        <mat-form-field appearance="outline" class="text-input" *ngIf="!isEdit">
          <input matInput placeholder="Location Code,Location Description" [(ngModel)]="location" [disabled]="isEdit && !editOn" id="EditOrgLocation"/>
        </mat-form-field>
      </div>
      <div class="upload-button-spacer" *ngIf="!isEdit">
        or
      </div>
      <div class="upload-button-spacer" *ngIf="!isEdit">
        <input #csvInput hidden="true" type="file" (change)="changeListener($event.target.files)" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
        <button mat-stroked-button color="primary" class="upload-button" (click)="csvInput.click()" [disabled]="isEdit && !editOn"> Submit (.xlsx) file</button>
        <p *ngIf=locationFileName>{{locationFileName}}</p>
      </div>

    </div>
  </div>

  <mat-card-footer>
    <div class="center-aligned">
      <div class="button-side-by-side" *ngIf="editOn">
        <button mat-stroked-button id="create-template-button" class="save-button-bg footer-button"
                (click)="submitSave()" id="saveEditOrganizationButton">
          SAVE</button><!-- if checks throws error then do not send data -->
      </div>
      <div class="button-side-by-side" *ngIf="editOn">
        <button mat-stroked-button routerLink="/manage-organizations" class="footer-button" id="cancelEditOrganizationButton">CANCEL</button>
      </div>
      <div class="button-side-by-side" *ngIf="!editOn">
        <button mat-stroked-button class="footer-button" (click)="turnOnEdit()" id="editOrganizationButton">EDIT</button>
      </div>
    </div>
  </mat-card-footer>

</mat-card>
