<app-toolbar></app-toolbar>
<ion-item-divider>
  <h1>Audit {{ auditID }} - Bins </h1>
</ion-item-divider>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!bins || bins?.length == 0" class="center">
    <ion-text color="dark">
      {{ blankMessage }}
    </ion-text>
  </div>
  <ion-list>
    <ion-item *ngFor="let bin of bins" [routerLink]="bin.bin_id">
      <ion-label>
        <p> Bin: {{ bin.Bin }}</p>
        <p> Total Items: {{ bin.item_ids?.length }}</p>
      </ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>