<mat-card>
    <mat-card-title>Designate Bins to Stock-Keepers </mat-card-title>
    <div id="top-div" align="end">
      <button mat-button class="top-buttons" (click)="allExpandState=true">Expand All </button>
      <button mat-button class="top-buttons" (click)="allExpandState=false">Collapse All </button>
    </div>
  </mat-card>
  <br>

  <mat-expansion-panel *ngFor="let auditComp of locationsWithBinsAndSKs;" class="mat-expand"
                       [expanded]="allExpandState" >
      <mat-expansion-panel-header>
          <mat-card-header>
        <mat-card-title class="location-title" >{{auditComp.Location}}</mat-card-title>
      </mat-card-header>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider><br>

    <div cdkDropListGroup>
      <div class="drag-drop-containers">
        <h2>Bins</h2>

        <div
          cdkDropList
          [cdkDropListData]="auditComp.bins"
          class="drag-drop-list"
          (cdkDropListDropped)="drop($event)">
          <div class="drag-drop-box" *ngFor="let bin of auditComp.bins" cdkDrag>{{bin}}</div>
        </div>
      </div>

      <div *ngFor="let sk of auditComp.sk;" class="drag-drop-containers">
        <h2>{{sk.first_name}} {{sk.last_name}}</h2>

        <div
          cdkDropList
          [cdkDropListData]="identifyUser(sk.id)"
          class="drag-drop-list"
          (cdkDropListDropped)="drop($event)">
          <div class="drag-drop-box" *ngFor="let bin of identifyUser(sk.id)" [hidden]="bin == null"
               cdkDrag>{{bin}}</div>
        </div>
      </div>
    </div>


  </mat-expansion-panel>

  <div class="bottom-buttons">
        <button mat-stroked-button  id="discard" class="bottom-discard" (click)="openDialogWithRef(discardDialog)">Discard</button> <!-- TODO: update route -->
        <button mat-stroked-button  id="assign" class="bottom-assign" [disabled]="true">Assign</button> <!-- TODO: update route -->
  </div>

  <ng-template #discardDialog>
    <h2 matDialogTitle>Discard Audit</h2>
    <h3 matDialogContent>Are you sure you wish to discard audit initiation?</h3>
    <div mat-dialog-actions align="end">
      <button mat-button routerLink="/dashboard" (click)="closeDialog()">Discard</button>
      <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
  </ng-template>

