<mat-card>
    <mat-card-title>Designate Bins to Stock-Keepers </mat-card-title>
    <div id="top-div" align="end">
      <button mat-button class="top-buttons" (click)="allExpandState=true">Expand All </button>
      <button mat-button class="top-buttons" (click)="allExpandState=false">Collapse All </button>
    </div>
  </mat-card>
  <br>

  <mat-expansion-panel *ngFor="let auditComp of locationsWithBinsAndSKs;" class="mat-expand"
                       [expanded]="allExpandState" >
    <mat-expansion-panel-header>
      <mat-card-header>
        <mat-card-title class="location-title" >{{auditComp.Location}}</mat-card-title>
      </mat-card-header>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider><br>

    <mat-card-content>
      <div class="row card-separator">
        <div cdkDropListGroup>
          <div class="column">
            <h2 class="column-header">Bins</h2>
              <div class="drag-drop-containers">
                <div
                  cdkDropList
                  [cdkDropListData]="auditComp.bins"
                  class="drag-drop-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="drag-drop-box" *ngFor="let bin of auditComp.bins" cdkDrag>
                    <p>{{bin}}<br></p>
                    <ul *ngFor="let item of getAssociatedItemsGivenBin(auditComp.Location, auditComp.bins)"
                        class="item-list">
                      <li class="drag-drop-subtext" *ngIf="item.Bin == bin">{{item.Part_Description}}</li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>

          <div class="column">
            <div *ngFor="let sk of auditComp.sk;">
              <h2 class="column-header">{{sk.first_name}} {{sk.last_name}}</h2>
            <div class="drag-drop-containers">
                <div
                  cdkDropList
                  [cdkDropListData]="identifyUser(sk.id)"
                  class="drag-drop-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="drag-drop-box" *ngFor="let bin of identifyUser(sk.id)" [hidden]="bin == null"
                       cdkDrag>
                    <p>{{bin}}<br></p>
                    <ul *ngFor="let item of getAssociatedItemsGivenBin(auditComp.Location, identifyUser(sk.id))"
                        class="item-list">
                      <li class="drag-drop-subtext" *ngIf="item.Bin == bin">{{item.Part_Description}}</li>
                    </ul>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-expansion-panel>

  <div class="bottom-buttons">
    <button mat-stroked-button  id="discard" class="bottom-discard"
            (click)="openDialogWithRef(discardDialog)">Discard</button>
    <button mat-stroked-button  id="assign" class="bottom-assign" [disabled]="false"
            (click)="submitPreAuditData()">Assign</button>
  </div>

  <ng-template #discardDialog>
    <h2 matDialogTitle>Discard Audit</h2>
    <h3 matDialogContent>Are you sure you wish to discard audit initiation?</h3>
    <div mat-dialog-actions align="end">
      <button mat-button routerLink="/dashboard" (click)="closeDialog()">Discard</button>
      <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
  </ng-template>

