<mat-card>
    <mat-card-title>{{title}}</mat-card-title>
    <div id="top-div">
      <button id="designateBinsPanelExpand" mat-button class="top-buttons" (click)="allExpandState=true">{{actionButtons.expand}}</button>
      <button id="designateBinsPanelCollapse" mat-button class="top-buttons" (click)="allExpandState=false">{{actionButtons.collapse}}</button>
      <button id="designateBinsAutoAssign" mat-button class="top-buttons auto-assign" (click)="autoAssign()">{{actionButtons.auto_assign}}</button>
    </div>
  </mat-card>
  <br>

  <mat-expansion-panel *ngFor="let auditComp of locationsWithBinsAndSKs;" class="mat-expand"
                       [expanded]="allExpandState" >
    <mat-expansion-panel-header>
      <mat-card-header>
        <mat-card-title class="location-title" >{{auditComp.Location}}</mat-card-title>
      </mat-card-header>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider><br>

    <mat-card-content>
      <div class="row card-separator">
        <div cdkDropListGroup>
          <div class="column">
            <h2 class="column-header">{{binsTitle}}</h2>
              <div class="drag-drop-containers">
                <div
                  cdkDropList
                  [cdkDropListData]="auditComp.bins"
                  class="drag-drop-list"
                  (cdkDropListDropped)="drop($event)">
                  <div id="{{bin}}" class="drag-drop-box" *ngFor="let bin of auditComp.bins" cdkDrag>
                    {{bin}}
                  </div>
                </div>
              </div>
          </div>

          <div class="column">
            <div *ngFor="let sk of auditComp.sk;">
              <h2 class="column-header">{{sk.first_name}} {{sk.last_name}}</h2>
            <div class="drag-drop-containers">
                <div id="boxToDropIn{{sk.id}}"
                  cdkDropList
                  [cdkDropListData]="identifyUser(sk.id)"
                  class="drag-drop-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="drag-drop-box" *ngFor="let bin of identifyUser(sk.id)" [hidden]="bin == null"
                       cdkDrag>
                    {{bin}}
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-expansion-panel>

  <div class="bottom-buttons">
      <button mat-stroked-button  id="goback" class="bottom-goback"
            (click)="goBackAssignSK()">{{actionButtons.back}}</button>
    <button mat-stroked-button  id="discard" class="bottom-discard"
            (click)="openDialogWithRef(discardDialog)">{{actionButtons.discard}}</button>
    <button mat-stroked-button  id="assign" class="bottom-assign"
            [disabled]="disableAssign()"
            (click)="submitPreAuditData()">{{actionButtons.assign}}</button>
  </div>

  <ng-template #discardDialog>
    <h2 matDialogTitle>Discard Audit</h2>
    <h3 matDialogContent>Are you sure you wish to discard audit initiation?</h3>
    <div mat-dialog-actions>
      <button mat-button routerLink="/audits" (click)="discardAudit()">{{actionButtons.discard}}</button>
      <button mat-button (click)="cancelDialog()">{{actionButtons.cancel}}</button>
    </div>
  </ng-template>

