.center {
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 50% 0;
}

.active_ellipse {
    height: 50px;
    width: 50px;
    background-color: #27AE60;
    border-radius: 50%;
    display: inline-block;
}

.pending_ellipse {
    height: 50px;
    width: 50px;
    background-color: #F2C94C;
    border-radius: 50%;
    display: inline-block;
}


.complete_ellipse {
    height: 50px;
    width: 50px;
    background-color: #EB5757;
    border-radius: 50%;
    display: inline-block;
}
