@import "./src/theme.scss";

.mat-table {
  width: 100%;
}

button.create {
  position: relative;
  float: right;
  display: inline;
  right: 0;
  margin-right: 10%;
  padding-left: 3em;
  padding-right: 3em;
  border-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 500);
}
