<mat-card>
  <button mat-stroked-button [disabled]="inventoryItemToAudit.length<=0" id="create" class="create" (click)="submitAudit()">Start Audit</button>
  <mat-card-title>Inventory Items</mat-card-title>
  <div id="refresh">
    <form class="col s12" [formGroup]="timeForm" novalidate (ngSubmit)="refreshTime()">
      <mat-form-field appearance="outline">
        <input matInput id="time" type="number" formControlName="time" placeholder="Time in minutes"/>
      </mat-form-field>
      <button mat-stroked-button id="signupbtn" [disabled]="!timeForm.valid" class="save">
        Update Refresh time
      </button>
    </form>
  </div>
  <div>

      <form class="col s12" [formGroup]="searchForm" (ngSubmit)="searchItem()" (keydown.Enter)="searchItem();">
        <mat-divider></mat-divider>
      <mat-expansion-panel class="mat-elevation-z0" hideToggle="true" #expansionPanel >
        <mat-expansion-panel-header hideToggle="true">
          <mat-panel-title (click)="$event.stopPropagation();"
                           (keydown.Space)="$event.stopImmediatePropagation();"
                           (keydown.Enter)="$event.stopImmediatePropagation();">
            <mat-form-field class="searchInventoryBar" style="width: 100%" >

              <input  matInput id="search" type="string" formControlName="search" placeholder="Search..." autocomplete="off" style="width: 100%" id="inventorySearchBar">
            </mat-form-field>
            <button mat-icon-button id="searchbtn" class="save">
              <mat-icon matSuffix>search</mat-icon>
            </button>
          </mat-panel-title>
          <mat-panel-description class="expandSearchButton">
            <mat-icon *ngIf="!expansionPanel.expanded">filter_list</mat-icon>
            <mat-icon *ngIf="expansionPanel.expanded">filter_list</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          ID
        </p>
      <mat-form-field appearance="outline">
        <input matInput id="item_id_from" type="text" formControlName="_id_from" placeholder="from"/>
      </mat-form-field>
        -
        <mat-form-field appearance="outline">
          <input matInput id="item_id_to" type="text" formControlName="_id_to" placeholder="to"/>
        </mat-form-field>
        <p>Localisation</p>
      <mat-form-field appearance="outline">
        <input matInput id="item_location2" type="text" formControlName="Location" placeholder="Location"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput id="item_zone" type="text" formControlName="Zone" placeholder="Zone"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput id="item_aisle" type="text" formControlName="Aisle" placeholder="Aisle"/>
      </mat-form-field>
        <p>Item details</p>
      <mat-form-field appearance="outline">
        <input matInput id="item_part_number" type="text" formControlName="Part_Number" placeholder="Part Number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput id="item_sn" type="text" formControlName="Serial_Number" placeholder="Serial Number"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput id="item_condition" type="text" formControlName="Condition" placeholder="Condition"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput id="item_category" type="text" formControlName="Category" placeholder="Category"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput id="item_owner" type="text" formControlName="Owner" placeholder="Owner"/>
      </mat-form-field>
        <p>
          Average Cost
        </p>
      <mat-form-field appearance="outline">
        <input matInput id="item_average_cost_from" type="text" formControlName="Average_Cost_from" placeholder="from"/>
      </mat-form-field>
        -
        <mat-form-field appearance="outline">
          <input matInput id="item_average_cost_to" type="text" formControlName="Average_Cost_to" placeholder="to"/>
        </mat-form-field>
        <p>
          Quantity
        </p>
      <mat-form-field appearance="outline">
        <input matInput id="item_quantity_from" type="text" formControlName="Quantity_from" placeholder="from"/>
      </mat-form-field>
        -
        <mat-form-field appearance="outline">
          <input matInput id="item_quantity_to" type="text" formControlName="Quantity_to" placeholder="to"/>
        </mat-form-field>
        <br/>
      <mat-form-field appearance="outline">
        <input matInput id="item_unit_of_measure" type="text" formControlName="Unit_of_Measure"
               placeholder="Unit of Measure"/>
      </mat-form-field>
      </mat-expansion-panel>

    </form>
  </div>

  <mat-divider></mat-divider>
  <div>
    <table aria-describedby="audit" mat-table *ngIf="dataSource" [dataSource]="dataSource" matSort>
      <div id="audit">List of Audits.</div>

      <ng-container matColumnDef="Select">
        <th scope="col" mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let object">
          <mat-checkbox  (change)='onChange(object["Item_Id"])' [id]="'checkBox' + object['Item_Id']"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.replaceAll('_', ' ') }}</th>
        <td mat-cell *matCellDef="let object">{{ object[column]}}</td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumnsStatic"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsStatic;"></tr>
    </table>

    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[25,50,100]"
      [pageIndex]="pageIndex"
      (page)="paginatorAction($event)">
    </mat-paginator>


  </div>
</mat-card>
