<mat-card>
  <mat-card-title>Select Stock-Keepers</mat-card-title>
  <mat-divider></mat-divider>
  <div>
    <mat-card-header>
      <mat-card-title>TODO: Upload location</mat-card-title>
    </mat-card-header>
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Check_Boxes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
        <td class="cell_check_boxes" mat-cell *matCellDef="let row"> <input type="checkbox">

        </td>
      </ng-container>

      <ng-container matColumnDef="First_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td class="cell_first_name" mat-cell *matCellDef="let row"> {{row.first_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Last_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td class="cell_last_name" mat-cell *matCellDef="let row"> {{row.last_name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <br><br>
    <div id="bottom-buttons">
      <button mat-stroked-button  id="assign" class="bottom-assign" routerLink="/create-members">Assign</button> <!-- TODO: update route -->
      <button mat-stroked-button  id="cancel" class="bottom-cancel" routerLink="/create-members">Cancel</button> <!-- TODO: update route -->
    </div>
  <br><br>
  </div>
</mat-card>
