<mat-card>
  <mat-card-title>Select Stock-Keepers</mat-card-title>
  <div id="top-div" align="end">
    <button mat-button class="top-buttons" (click)="allExpandState=true">Expand All </button>
    <button mat-button class="top-buttons" (click)="allExpandState=false">Collapse All </button>
  </div>
</mat-card>
<br>

<mat-expansion-panel *ngFor="let item of locationsAndUsers;" class="mat-expand"
                     [expanded]="allExpandState" >
	<mat-expansion-panel-header>
		<mat-card-header>
      <mat-card-title class="location-title" >{{item.location}}</mat-card-title>
    </mat-card-header>
	</mat-expansion-panel-header>

	<table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Check_Boxes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Select </th>
        <td class="cell_check_boxes" mat-cell *matCellDef="let row"><input type="checkbox"></td>
      </ng-container>

      <ng-container matColumnDef="First_Name" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td class="cell_first_name" mat-cell *matCellDef="let row" >{{row.first_name}}</td>
      </ng-container>

      <ng-container matColumnDef="Last_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td class="cell_last_name" mat-cell *matCellDef="let row">{{row.last_name}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="item.location !== row.location"></tr>
    </table>

</mat-expansion-panel>

<div class="bottom-buttons">
      <button mat-stroked-button  id="discard" class="bottom-discard" (click)="openDialogWithRef(discardDialog)">Discard</button> <!-- TODO: update route -->
      <button mat-stroked-button  id="assign" class="bottom-assign" routerLink="/create-members">Assign</button> <!-- TODO: update route -->
</div>

<ng-template #discardDialog>
  <h2 matDialogTitle>Discard Audit</h2>
  <h3 matDialogContent>Are you sure you wish to discard audit initiation?</h3>
  <div mat-dialog-actions align="end">
    <button mat-button routerLink="/dashboard" (click)="closeDialog()">Discard</button>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </div>
</ng-template>
