<div >
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="Check_Boxes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td class="cell_check_boxes" mat-cell *matCellDef="let row"> hi </td>
          </ng-container>
      
        <ng-container matColumnDef="First_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td class="cell_first_name" mat-cell *matCellDef="let row"> {{row.first_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Last_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td class="cell_last_name" mat-cell *matCellDef="let row"> {{row.last_name}} </td>
      </ng-container>

      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
