@import "./src/theme.scss";

.signup-card {
  margin: 30px 35% 30% 35%;
  padding: 2%;
  width: 350px;
  max-height: 600px;
  text-align: center;
  background-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 100);
}

.centerMe {
  margin: auto;
  padding: 2%;
  width: 350px;
  z-index: 1;
  text-align: center;
}

.error {
  color: red;
}

#errorMsg {
  background: #f6b2b5;
  width: 100%;
  height: 40px;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field + .mat-form-field {
  padding-top: 5%;
}


.mat-select {
  color: map-get($alta-primary, 200);
}

.mat-select-value {
  color: map-get($alta-primary, 200) !important;
}

.mat-option {
  color: map-get($alta-primary, 200) !important;
}

.mat-card-title {
  color: map-get($alta-primary, 500);
}

.mat-button {
  color: map-get($alta-primary, A200);
  border: 1px solid map-get($alta-primary, A200);
}

span.center {
  margin: auto;
}

.mat-label {
  color: map-get($alta-primary, 500);
}

.mat-card {
  width: 95%;
  max-width: 900px;
}

div.form-group {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 20%;
  padding-right: 20%;
  margin: 0;
}
