<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- First Name Column -->
      <ng-container matColumnDef="First Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row" >
          <span (keyup)="changeValue(row.id, 'first_name', $event)" (blur)="updateUser(row.id, 'first_name', $event)" contenteditable="true">{{row.first_name}}</span>
        </td>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="Last Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row" >
          <span (keyup)="changeValue(row.id, 'last_name', $event)" (blur)="updateUser(row.id, 'last_name', $event)" contenteditable="true">{{row.last_name}}</span>
        </td>
      </ng-container>
  
      <!-- Is Active Column -->
      <ng-container matColumnDef="Is Active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active </th>
        <td mat-cell *matCellDef="let row" >
          <mat-select (selectionChange)="updateUser(row.id, 'is_active', $event.value)" [value]="row.is_active">
            <mat-option *ngFor="let b of isActive" [value]=b.value>
              {{ b.value }}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>
  
      <!-- Row Column -->
      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let row" >
          <mat-select (selectionChange)="updateUser(row.id, 'role', $event.value)" [(ngModel)]="row.role">
            <mat-option *ngFor="let role of roles" [value]=role.abbrev>
              {{ role.abbrev }}
            </mat-option>
          </mat-select>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>