<mat-card>
  <button mat-stroked-button  id="create" class="create" routerLink="/create-members">Create</button>
  <mat-card-title>Employees</mat-card-title>
  <div class="example-button-container">
    <button mat-icon-button disabled aria-label="Example icon button with a home icon">
      <mat-icon>search</mat-icon>
    </button>
  </div>
<div class="search-header">
    <mat-form-field appearance="fill">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Employees">
    </mat-form-field>
</div>
<mat-label class="moveMeRight">Show: </mat-label>
<div class="dropdown">
  <mat-form-field appearance="standard">
      <mat-select [(value)]="selected" aria-selected="true">
        <mat-option value="All">All</mat-option>
      </mat-select>
    </mat-form-field>
</div>
  <mat-divider></mat-divider>
  <div >
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="First_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td class="cell_first_name" mat-cell *matCellDef="let row"> {{row.first_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Last_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td class="cell_last_name" mat-cell *matCellDef="let row"> {{row.last_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
        <td class="cell_location" mat-cell *matCellDef="let row"> {{row.location}} </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td class="cell_is_active" mat-cell *matCellDef="let row"> {{row.is_active}} </td>
      </ng-container>

      <ng-container matColumnDef="Settings">
        <th mat-header-cell *matHeaderCellDef> Settings</th>
        <td mat-cell *matCellDef="let row">
          <a class="cell_settings" [routerLink]="['/modify-members', row.id]">
            <span class="dot"></span>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</mat-card>
