<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- First Name Column -->
      <ng-container matColumnDef="First Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let row" >
          <span (keyup)="changeValue(row.id, 'first_name', $event)" (blur)="updateUser(row.id, 'first_name', $event)" contenteditable="true">{{row.first_name}}</span>
        </td>
      </ng-container>
  
      <!-- Last Name Column -->
      <ng-container matColumnDef="Last Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let row" >
          <span (keyup)="changeValue(row.id, 'last_name', $event)" (blur)="updateUser(row.id, 'last_name', $event)" contenteditable="true">{{row.last_name}}</span>
        </td>
      </ng-container>
  
      <!-- Is Active Column -->
      <ng-container matColumnDef="Is Active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Active </th>
        <td mat-cell *matCellDef="let row" >
          <select class="form-control" name="bb" (change)="updateUser(row.id, 'is_active', $event.target.value)">
            <option *ngFor="let b of booleans" [selected]="false == row.is_active" [value]="b.value">
              {{ b.value }}
            </option>
          </select>
        </td>
      </ng-container>
  
      <!-- Row Column -->
      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
        <td mat-cell *matCellDef="let row" >
          <select class="m-1" name="roley" (change)="updateUser(row.id, 'role', $event.target.value)">
            <option *ngFor="let role of roles" [selected]="role.abbrev == row.role" [value]=role.abbrev>
              {{ role.abbrev }}
            </option>
          </select>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>