@import "./src/theme.scss";

.mat-table {
  width: 100%;

}
mat-expansion-panel {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
}

button.create {
  position: relative;
  float: right;
  display: inline;
  margin-right: 10%;
  padding-left: 3em;
  padding-right: 3em;
  border-color: map-get($alta-primary, 500);
  color: map-get($alta-primary, 500);
}

mat-expansion-panel-header {
  width: 100%;
}

mat-panel-title {
  width: 90%;
}

.mat-card-title {
  color: map-get($alta-primary, 500);
  padding: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 20px;
}

.expandSearchButton {
  padding-top: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: flex-end;
}

#chart {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background: #fff;
  color: #222;
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-radius: 2px;
  padding: 4px 17px;
  margin: 5px;
}

button.active {
  color: #fff;
  background: #008ffb;
  border: 1px solid blue;
  border-bottom: 2px solid blue;
}

button:focus {
  outline: 0;
}

.audit-element-detail {
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #e1e1e1;
   box-shadow: inset 2px 3px 8px #c1c1c1;
   border-radius: 8px;
}

tr.audit-detail-row {
    height: 0;
}

tr.audit-element-row:not(.audit-expanded-row):hover {
  background: whitesmoke;
}

tr.audit-element-row:not(.audit-expanded-row):active {
  background: #efefef;
}

.audit-element-row td {
  border-bottom-width: 0;
}

.missing-result {
  background: #ff9e9e;
}

.provided-result {
  background: #daffd1;
}

.new-result {
  background: orange;
}

td {
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}

.innerTable {
  box-shadow: 2px 2px 5px #888;
  margin: 20px;
  overflow: auto;
}
