ion-toolbar {
    --background: #283C52;
    border: 1px solid #283C52;
}

ion-buttons {
  --background-activated: #283C52;
  --color-activated: #283C52;
}

.alta-logo{
  padding-top: 15px;
  height: 50%;
  width: 50%;
  cursor: pointer;
}