<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <a (click)="navigate()">
        <img src="assets/img/logo.svg" class='alta-logo'>
      </a>

    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="secondary" shape="round" (click)="presentNotificationPopover($event)">
        <ion-icon name="notifications-outline" size="large"></ion-icon>
        <ion-badge color="danger">{{notificationNumber}}</ion-badge>
      </ion-button>
      <ion-button id="profileButton" color="secondary" shape="round" (click)="presentProfilePopover($event)">
        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
