<div class="header">
  <img class="pic" src="assets/img/logo.svg" width="150" height="150">
</div>
<div class="sidenav">
    <ul class="options">

        <li *ngFor="let option of options" [class.selected]="option === selectedOption" class="parent">
            <h3 id="option" routerLink="{{option.routerLink}}">{{option.title}}</h3>
            <ul class="subOptions" *ngIf="option.subMenuOptions?.length > 0">
                <li *ngFor="let subOption of option.subMenuOptions" [class.selected]="subOption === selectedOption"
                    class="child">
                    <h4 id="subOption" routerLink="{{subOption.routerLink}}">{{subOption.title}}</h4>
                </li>
            </ul>
        </li>
      <div class="footer">
        <mat-list>
          <mat-list-item>
            <img matListAvatar src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                 alt="Blank Display Pic" width="20" height="20" />
            <h3 matLine class="text-color">{{loggedInUser}}</h3>
            <p matLine>
              <span class="small-text"> {{loggedInUserRole}} </span>
            </p>
            <mat-icon>expand_more</mat-icon>
          </mat-list-item>
        </mat-list>
      </div>
    </ul>

</div>
