<ion-content class="signinGroup">
  <div class="header">
    <img id="alta_logo" class="pic" src="assets/img/logo.svg" width="340" height="210">
  </div>

  <div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="signin()">

      <ion-item >
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input id="emailInput" type="email" formControlName="email" color="light" required></ion-input>
      </ion-item>
      <div *ngIf="email.touched && email.errors " class="errorMessage">
        <span *ngIf="email.errors?.email">Invalid format</span>
      </div>

      <ion-button id="signinButton" type="submit" expand="block" size="large" [disabled]="!formGroup.valid">Send Pin</ion-button>
    </form>
  </div>
</ion-content>